/* ==========================================================================
	 GLOBAL STYLES
	 ===========================================================================*/

*,
*:before,
*:after{
	-webkit-box-sizing: border-box;
					box-sizing: border-box;
}

html{
	font-size: 100%;
	height: 100%;
	min-width: 300px;
	-webkit-tap-highlight-color: transparent;
}
/* list */
nav ul,
ul{
	padding: 0;
	margin-bottom: 0;
	margin-top: 0;
	list-style: none;
}
a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}
nav ul li,
ul li{
	list-style: none;
	list-style-type: none;
}

input,
button,
select,
textarea{
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

[role="button"]{
	cursor: pointer;
}

/* clearfix */

.clearfix{
	clear: both;
}

.clearfix:after{
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

img,
video{
	max-width: 100%;
	height: auto;
}


/* FOR SAFARI */

input,
textarea{
	-webkit-overflow-scrolling: touch;
}

[type=search]{
		 -moz-appearance: none;
	-webkit-appearance: none;
					appearance: none;
}

/* address */

address{
	font-style: normal;
}

body {
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-family: 'PT Sans Narrow', sans-serif;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background:url(../img/main-bg.jpg) no-repeat center top;
	position: relative;
}

/* ==========================================================================
	 END GLOBAL STYLES
	 ===========================================================================*/


.main-header {
	background-color:#000;
	height: 70px;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-navigation{
	float: left;
	width: 780px;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	margin-left: -5px;
}
.main-navigation ul{
	list-style-type: none;
	padding: 0;
}
.main-navigation li{
	display: inline-block;
	text-align: center;
}
.main-navigation a{
	display: inline-block;
	width: 100%;
	padding: 25px 20px;
	text-align: center;
}
.main-navigation a:hover,
.user-block a:hover{
	background: #242424;
}
.user-block {
	float: right;
	width: 140px;
	position:relative;
	text-align: right;
	margin-top: 26px;
}
.user-block a{
	padding: 25px 20px;
}
.user-block a:before{
	
}

.index-logo {
	width: 368px;
	height: 204px;
	margin:0 auto;
	margin-bottom: 25px;
}

.features-item {
	float: left;
	width: 300px;
	margin-right: 20px;
}

.features-item :last-child {
	margin-right: 0;
}

.index-content {
	padding:50px 80px;
}

.index-content-left {
	float: left;
	width: 380px;
}

.index-content-right {
	float: right;
	width: 300px;
}

.main-footer {
	margin-top: 65px;
	padding-top: 60px;
	padding-bottom: 40px;
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;
}

.footer-social {
	float: left;
	width: 180px;
}

.footer-copyright {
	float: right;
	width: 180px;
}
